body{
  background-color: black;
  opacity: 0.9;
}

header{
  height: 69px;
  position: fixed;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
}

nav a{
  color: seashell;
  text-decoration: underline;
  padding: 0px 10px;
  font-family: Helvetica;
  font-size: 22px;
}

nav{
  margin-right: 10px;
}

.logo{
  align-items: center;
  height: 50px;
  margin-left: 10px;
}

.mission{
  height: 700px;
  background-image: url(../resources/images/background.jpg);
  display: flex;
  justify content: center;
  align-items: center;
}
